<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    
    

    
        
    <link rel="stylesheet" href="{{ url_for('static', filename="css/main.css")}}">
</head>

<body>
    <div id="myCarousel" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div  id="mainPage"  class="carousel-item text-center">
                <div class="d-flex h-100 align-items-center justify-content-center front-page">
                    <div>
                        <h1><b>Web Intelligence</b></h1> <br />
                        <h2>Matthew Axisa, Gabriele Borg</h2> <br />
                        <h4>Michael Pulis</h4>

                    </div>

                </div>
            </div>
            <div  id="getReq" class="carousel-item active" style="padding-top:20%;background-color: black;">
                <center>
                    <font color="white">
                        <br>
                    
                    <h1> Enter get request </h1>
                    <input type = "text" id="getRequestInput">
                    <button id="submitButton" > Submit </button>
                </font>
                </center>


            </div>
            <div  id="showEdges"  class="carousel-item">
                <iframe id ="iframe" width ="100%" height ="100%" src="testing"></iframe>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <script src="{{ url_for('static', filename='js/loadEdgeData.js') }}"></script>
</body>

</html>