<!DOCTYPE html>
<html>

<head>
	<script src="{{ url_for('static', filename='js/d3.min.js')}}"></script>
	<style>
		body {
			font: Arial 12px;
			text-align: center;
		}

		.link {
			stroke: #ccc;
		}

		.node text {
			pointer-events: none;
			font: sans-serif;
		}
	</style>
</head>

<body>
	<h3>Game of Thrones-Social Network Analysis</h3>
	<script type="text/javascript">
		//Set margins and sizes
		//object margin with 4 properties
		var margin = {
			top: 20,
			bottom: 50,
			right: 30,
			left: 50
		};
		var width = 960 - margin.left - margin.right;
		var height = 700 - margin.top - margin.bottom;
		//Load Color Scale
		//there are a range of color bands that one can select for the nodes - https://github.com/d3/d3-3.x-api-reference/blob/master/Ordinal-Scales.md#categorical-colors
		var c10 = d3.scale.category10();
		//Create an SVG element and append it to the DOM
		var svgElement = d3.select("body")
			.append("svg").attr({ "width": width + margin.left + margin.right, "height": height + margin.top + margin.bottom })
			.append("g")
			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

			
		//Load External Data
		d3.json("exj", function (dataset) {
			//Extract data from dataset into arrays
			var nodes = dataset.nodes,
				links = dataset.links;

				
				console.log(nodes);

			//Create Force Layout
			var force = d3.layout.force()
				.size([width, height])
				.nodes(nodes)
				.links(links)
				.gravity(0.05)
				.charge(-200)
				.linkDistance(200);
			//Add links to SVG element
			var link = svgElement.selectAll(".link") //links to css
				.data(links) //for all array of links
				.enter()
				.append("line") //svg line
				.attr("stroke-width", function (d) { return d.weight / 10; }) //defining line weight
				.attr("class", "link"); //making it part of the class link
			//Add nodes to SVG element
			var node = svgElement.selectAll(".node")
				.data(nodes)
				.enter()
				.append("g")
				.attr("class", "node")
				.call(force.drag); //can be dragged
			//Add labels to each node
			var label = node.append("text") //add text to the node
				.attr("dx", 12) //The dx attribute indicates a shift along the x-axis on the position of an element or its content.
				.attr("dy", "0.35em")
				.attr("font-size", function (d) { return d.influence * 1.5 > 9 ? d.influence * 1.5 : 9; }) //d.influence is the amount of influence per char
				.text(function (d) { return d.character; }); //d.character is the name of the character
			//Add circles to each node
			var circle = node.append("circle") //add a circle to the node
				.attr("r", function (d) { return d.influence / 2 > 5 ? d.influence / 2 : 5; })
				.attr("fill", function (d) { return c10(d.zone * 10); });
			//This function will be executed for every tick of force layout
			//The above code basically tells D3 for every “tick” (single step of the simulation), redraw(updated) all the nodes and their links. Now when everything is done, we start the simulation
			force.on("tick", function () {
				//Set X and Y of node
				node.attr("r", function (d) { return d.influence; })
					.attr("cx", function (d) { return d.x; })
					.attr("cy", function (d) { return d.y; });
				//Set X, Y of link
				link.attr("x1", function (d) { return d.source.x; })
				link.attr("y1", function (d) { return d.source.y; })
				link.attr("x2", function (d) { return d.target.x; })
				link.attr("y2", function (d) { return d.target.y; });
				//Shift node a little
				node.attr("transform", function (d) { return "translate(" + d.x + "," + d.y + ")"; });
			});
			//Start the force layout calculation
			force.start();
		});
	</script>
</body>

</html>