<!DOCTYPE html>

<html>

<head>
    <title>Word Cloud Example</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


<body style="text-align:center">
    <h1 id='myheader' style="color:white">
        {% if json_path %}
        {% if sourceName %}
        Viewing edge between {{ sourceName }} and {{ targetName }}
        {% elif nodeName %}
        Viewing {{ nodeName }}
        {% else %}
        Interact with graph to view statistics
        {% endif%}
        {% else %}
        Interact with graph to view statistics
        {% endif %}
    </h1>

    {% if nodeName %}

    <div class="card" id="userDetails">
        <div class="card-header">
            Features
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="name_key"></li>
            <li class="list-group-item" id="weight_key"></li>
            <li class="list-group-item" id="neighbour_count_key"></li>
            <li class="list-group-item" id="clustering_coefficient_key"></li>
            <li class="list-group-item" id="eccentricity_key"></li>
            <li class="list-group-item" id="average_path_distance_key"></li>
            <li class="list-group-item" id="page_rank_key"></li>
        </ul>
    </div>
    {% endif %}
    <script>

        // d3.json("j", function (json){
        //Simple animated example of d3-cloud - https://github.com/jasondavies/d3-cloud
        //Based on https://github.com/jasondavies/d3-cloud/blob/master/examples/simple.html

        // Encapsulate the word cloud functionality
        function wordCloud(selector) {

            var fill = d3.scale.category20();
            let translateString = "translate(" + (parent.document.body.clientWidth * 0.4) + "," + (parent.document.body.clientHeight * 0.4) + ")"
            console.log(translateString)
            //Construct the word cloud's SVG element
            var svg = d3.select(selector).append("svg")
                .attr("width", parent.document.body.clientWidth * 0.8)
                .attr("height", parent.document.body.clientHeight * 0.8)
                .append("g")
                .attr("transform", translateString);

            //Draw the word cloud
            function draw(words) {
                var cloud = svg.selectAll("g text")
                    .data(words, function (d) { return d.text; })

                //Entering words
                cloud.enter()
                    .append("text")
                    .style("font-family", "Calibri")
                    .style("fill", function (d, i) { return fill(i); })
                    .attr("text-anchor", "middle")
                    .attr('font-size', 1)
                    .text(function (d) { return d.text; });

                //Entering and existing words
                cloud
                    .transition()
                    .duration(600)
                    .style("font-size", function (d) { return d.size + "px"; })
                    .attr("transform", function (d) {
                        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .style("fill-opacity", 1);

                //Exiting words
                cloud.exit()
                    .transition()
                    .duration(200)
                    .style('fill-opacity', 1e-6)
                    .attr('font-size', 1)
                    .remove();
            }


            //Use the module pattern to encapsulate the visualisation code. We'll
            // expose only the parts that need to be public.
            return {

                //Recompute the word cloud for a new set of words. This method will
                // asycnhronously call draw when the layout has been computed.
                //The outside world will need to call this function, so make it part
                // of the wordCloud return value.
                update: function (words) {
                    d3.layout.cloud().size([parent.document.body.clientWidth * 0.8, parent.document.body.clientHeight * 0.8])
                        .words(words)
                        .padding(5)
                        .rotate(function () { return ~~(Math.random() * 2) * 90; })
                        .font("Impact")
                        .fontSize(function (d) { return d.size; })
                        .on("end", draw)
                        .start();
                }
            }
        }


        userId = "{{nodeId|safe}}";
        console.log(userId);
        d3.json("details?link=" + "{{nodeId|safe}}", function (details) {
            console.log(details.name);
            // alert(JSON.stringify(details))
            document.getElementById("name_key").innerHTML = "Email: " + details.name;
            document.getElementById("weight_key").innerHTML = "Weight: " + details.weight;
            document.getElementById("neighbour_count_key").innerHTML = "Neighbour Count: " + details.neighbours;
            document.getElementById("clustering_coefficient_key").innerHTML = "Local Clustering Coefficient: " + details.clustering_coefficient;
            document.getElementById("eccentricity_key").innerHTML = "Eccentricity: " + details.eccentricity;
            document.getElementById("average_path_distance_key").innerHTML = "Average Path Distance: " + details.average_path_distance;
            document.getElementById("page_rank_key").innerHTML = "Page Rank: " + details.page_rank;
        });


        var data = [];

        path = "{{json_path|safe}}"
        console.log()
        d3.json(path, function (dataset) {
            var size = dataset;
            for (var i = 0; i < dataset.length; i++) {
                data.push(dataset[i].text);
            }

            var words = data.join(" ");
            console.log(words);
            //Prepare one of the sample sentences by removing punctuation,
            // creating an array of words and computing a random size attribute.
            function getWords(i) {
                return words
                    .split(' ')
                    .map(function (d) {
                        return { text: d, size: (dataset[getsize(d)].size) };
                    })

            }

            function getsize(d) {
                var index = data.indexOf(d);
                return index;
            }
            //This method tells the word cloud to redraw with a new set of words.
            //In reality the new words would probably come from a server request,
            // user input or some other source.
            function showNewWords(vis) {
                vis.update(getWords(10))
            }
            //Create a new instance of the word cloud visualisation.
            var myWordCloud = wordCloud('body');

            //Start cycling through the demo data
            console.log(getWords(10))
            showNewWords(myWordCloud);
            // console.log(myJson);
        });

    </script>
</body>

</html>